body {
  background: #111;
  font-family: "Open Sans", sans-serif;
}

.cta-background {
  background-size: cover;
  background-position: center center;
  bottom: 0;
  filter: blur(50px);
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  z-index: -1;
}

.container {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
}

.cta {
  background: #333;
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.2);
  height: 450px;
  overflow: hidden;
  position: relative;
  width: 300px;
}
.cta:hover img {
  top: -10%;
  filter: brightness(70%);
}
.cta:hover .text {
  bottom: 0;
}
.cta img {
  bottom: 0;
  filter: brightness(100%);
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.5s ease-in-out;
  width: 115%;
}
.cta .text {
  bottom: -40%;
  padding: 15px;
  position: absolute;
  transition: 0.5s ease-in-out;
}
.cta .text h2 {
  color: #fff;
  display: inline-block;
  font-weight: 300;
  margin-bottom: 5px;
  position: relative;
}
.cta .text p {
  color: #fff;
  font-weight: 300;
}